<footer class="rodape">
    <p class="creditos">© WebRota 2024 - Desenvolvido por Pablo</p>
    <div class="redes_sociais">
        <a href="https://www.facebook.com/WebRota/">
            <i class='bx bxl-facebook bx-md'></i>
        </a>
        <a href="https://www.instagram.com/webrotaoficial">
            <i class='bx bxl-instagram bx-md'></i>
        </a>
        <a href="https://www.linkedin.com/company/webrota/">
            <i class='bx bxl-linkedin bx-md'></i>
        </a>
        <a href="https://www.youtube.com/@WebRotaOficial">
            <i class='bx bxl-youtube bx-md'></i>
        </a>
    </div>
</footer>